## Dynatrace Managed Configuration
# Proxy configuration optional (for corporate environments)
# Mandatory keys are: "apiEndpointUrl", "environmentId", "alias" and "apiToken"

DT_ENVIRONMENT_CONFIGS='[
  {
    "dynatraceUrl": "https://my-dashboard-endpoint.com/",
    "apiEndpointUrl": "https://my-api-endpoint.com/",
    "environmentId": "my-env-id-1",
    "alias": "alias-env",
    "apiToken": "my-api-token",
    "httpProxyUrl": "",
    "httpsProxyUrl": ""
  },
  {
    "dynatraceUrl": "https://my-dashboard2-endpoint.com/",
    "apiEndpointUrl": "https://my-api2-endpoint.com/",
    "environmentId": "my-env-id-2",
    "alias": "alias-env-2",
    "apiToken": "my-api-token-2",
    "httpProxyUrl": "",
    "httpsProxyUrl": ""
  }
]'
